












 body{ 
 background-color: rgb(241, 233, 233); 
display: inline;

margin: 0%;
 } 


header{
display: flex;
    
    border: 10px  darkblue;
    background-color: lightblue;
border-radius: 20px;
border-style: double;

}
#back h2 {
    padding-top: 2%;
color: aquamarine;
text-align: end;

}

#back {
background-image: url(./photos/157903943-abstract-background-dark-blue-with-modern-silver-line-stripes-decoration-vector-illustration-for.webp);
width: auto;
height: 100px;
background-position: center;
background-size: cover;
margin-left: 0px;
}


h3 {
    text-align: center;
}




header ul {
margin-left: auto;

padding-top: 50px;
padding-right: 20px;
}


li:hover 
 
{
cursor: grab;
}

.aboutMe h2{




}






.work img {

width: 200px;
height: 200px;

}
.footer ul  {

text-align: center;
height: 100px;

}
.footer{
    border: 10px blue solid;
    height: 100px;
}


 li {
list-style: none;
display: inline;
margin-left: 10px;
text-decoration: solid;
font-size: 20px;
text-decoration: underline;
}

h1 {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bolder;
background-color:rgb(0, 36, 196);

color: rgb(233, 237, 255);
}

h2 {
font-size: 50px;
color: rgb(0,36,196);

}
.aboutMe p {

font-size: 20px;
font-style: italic;
font-family: fantasy;



box-shadow: 20px, black;
display: inline;
grid-gap: 20px;
/* grid-row: 1; */

}
 img {
height: 250px;
width: 250px;
grid-row: 1;
border: 10px rgb(0, 0, 0) double;
grid-column: 2;
}
.aboutMe {
display: flex;


padding-top: 10%;
}   

.titles{
display: inline-block;
align-content:center ;
border-right: 20px black double;
border-color: blue
}
.para{
display: inline-block;
width: 400px;
margin-left: 15px;
;
}
.ps5{

 grid-row: 3;
grid-column: 4;
}
.work {
display: grid;



}